<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
	  internalLogIncludeTimestamp="true"
	  internalLogToConsoleError="true"
	  internalLogToTrace="false"
      throwConfigExceptions="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets async="true">
		<default-wrapper xsi:type="AutoFlushWrapper" condition="level >= LogLevel.Warn" FlushOnConditionOnly="false">
			<wrapper-target xsi:type="BufferingWrapper" bufferSize="131072"
							flushTimeout="15000" slidingTimeout="true"
							overflowAction="Flush"/>
		</default-wrapper>
		<!-- copy to console -->
		<target xsi:type="Console" name="logconsole"
				layout="${longdate} ${event-properties:item=EventId_Id} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}"
			    WriteBuffer="true" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Warning" writeTo="logconsole" />
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Trace" final="true"/>
	</rules>
</nlog>